.nav__link {
  margin: 0;
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  text-decoration: none;
  color: #000;
  border-radius: 50px;
  transition: all 0.3s ease-in;
}

.nav__link:hover {
  color: #fff;
  background-color: #0882FF;
}

@media screen and (max-width: 850px) {
  .nav__link {
    font-size: 16px;
    padding: 8px 18px;
  }
}