.track__list{
list-style: none;
display: flex;
flex-direction: column;
padding: 0;
}
.track__item{
    border: rgb(90, 189, 52) solid 3px;
    border-radius: 20px;
    margin: 10px 15px 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all ease-in-out .5s;
}
.track__item:hover{
    cursor: pointer;
    color: olivedrab;
    border-color: black;
}
.track__text{
    margin: 10px;
    font-size: 1em;
}
@media only screen and (max-width:600px) {
    .track__item{
        flex-direction: column;
    }
    
}