.intro__title_pos_top {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
}

@media screen and (max-width: 1000px){
  .intro__title_pos_top {
    font-size: 50px;
  }
}

@media screen and (max-width: 600px){
  .intro__title_pos_top {
    font-size: 40px;
  }
}