.intro__title_pos_bottom {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 100px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
  text-shadow:
              0 0 2px #000,
              4px 4px 0 #0882ff;
  transition: all 0.3s ease-in;
}

.intro__title:hover > .intro__title_pos_bottom {
  text-shadow:
              0 0 2px #000,
              4px 4px 0 #55f676;
}


@media screen and (max-width: 1000px){
  .intro__title_pos_bottom {
    font-size: 90px;
  }
}

@media screen and (max-width: 600px){
  .intro__title_pos_bottom {
    font-size: 80px;
  }
}