.cards__technology {
  margin: 0;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;
  border: 1px solid #0882FF;
  border-radius: 5px;
  transition: all 0.3s ease-in;
}

.cards__technology:hover {
  background-color: #0882FF;
  color: #fff;
}

.cards__technology + .cards__technology {
  margin-left: 20px;
}