.timer__form{
width: 50%;
margin: auto;
}
input{
    padding: 0;
    margin: auto;
    width: 90%;
    text-align: center;
}
@media  only screen and (max-width: 500px) {
    .timer__form{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 50%;
        
    }
    
}