.figure__caption {
  margin: 0;
  padding: 20px 0 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .figure__caption {
    padding: 15px 0 0;
  }
}

@media screen and (max-width: 375px) {
  .figure__caption {
    padding: 10px 0 0;
    font-size: 16px;
  }
}