.logo {
  box-sizing: border-box;
  margin: 0;
  padding: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #000;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.logo::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border: 5px solid #0882FF;
  transition: all 0.3s linear;
}

.logo:hover.logo::before{
  transform: rotate(-45deg);
}