@import url(../logo/__link/logo__link.css);

.logo {
  box-sizing: border-box;
  margin: 0;
  padding: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border: 5px solid #0882FF;
  transition: all 0.3s linear;
  z-index: -1;
}

.logo:hover.logo::before{
  transform: rotate(-45deg);
}

@media screen and (max-width: 600px) {
  .logo {
    padding: 18px;
  }
}