.about__image {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 550px;
  object-fit: cover;
  place-self: center;
  border-radius: 75%;
  transition: all .3s ease-in-out;
}

.about__image:hover {
  box-shadow: 0 0 0 4px #0882FF,
              0 0 0 6px #fff;
}