.form__textarea {
  box-sizing: border-box;
  margin: 0 0 20px;
  padding: 15px 10px;
  height: 250px;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  background-color:  #e5e5e5;
  opacity: 0.5;
  border: 0;
  border-radius: 5px;
  outline: none;
  resize: none;
}

.form__textarea:focus,
.form__textarea:hover {
  border: 2px solid #0882ff;
}

.form__textarea:focus {
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  .form__textarea {
    font-size: 20px;
  }
}