.contact__title {
  margin: 0;
  padding: 0 0 50px;
  width: 60%;
  font-size: 48px;
  line-height: 1;
  align-self: flex-end;
  text-align: center;
}

@media screen and (max-width: 610px) {
  .contact__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 550px) {
  .contact__title {
    align-self: center;
    width: 80%;
  }
}