.about__overlay {
    min-height: 200vh;
    min-width: 150vh;
    background-color: #C4C4C4;
    z-index: 0;
    position: absolute;
    top: -30vh;
    right: -20vw;
    transform: rotate(45deg);
  }