@import url(./__nav/footer__nav.css);
@import url(../footer/__list/footer__list.css);
@import url(../footer/__copyright/footer__copyright.css);

.footer {
  background-color:#0882FF ;
  box-sizing: border-box;
  margin: 0;
  padding: 16px 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffff;
}
